/* font settings */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* colors */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #454545;
}
.dark-3{
    color: #757575;
}

/* shared stylings */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.secondary-bg{
    background-color: #fff8f3;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
}

/* buttons */
.btn-primary{
    background-color: #fd6e0a;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 36px;
}
.btn-secondary{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    color: #fd6e0a;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 36px;
}

/* header */
.header{
    background:
        url(../assets/images/developer.png) no-repeat left, 
        url(../assets/images/header_bg.png) no-repeat bottom right;
}

/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* banner styling */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;
}
.banner-name{
    font-size: 85px;
    font-weight: bold;
}
.banner-desc{
    font-size: 30;
}
.banner-pic{
    width: 580px;
}

/* about styling */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-desc{
    font-weight: 600;
}